@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

::-webkit-scrollbar {
    display: none;
}

.mix {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}